[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-RESTful = "*"
PyNaCl = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "python src/dev_server.py"
setup = "python setup_commands.py"
